<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<node pkg="fast_lio" exec="fastlio_mapping" name="laserMapping" output="screen">
		<param from="$(find-pkg-share fast_lio)/config/avia.yaml" />
		<param name="feature_extract_enable" value="false" />
		<param name="point_filter_num" value="3" />
		<param name="max_iteration" value="3" />
		<param name="filter_size_surf" value="0.5" />
		<param name="filter_size_map" value="0.5" />
		<param name="cube_side_length" value="1000.0" />
		<param name="runtime_pos_log_enable" value="false" />
	</node> 

	<group if="$(var rviz)">
		<node launch-prefix="nice" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share fast_lio)/rviz_cfg/loam_livox.rviz" />
	</group>

</launch>
